# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "tsc"
  tsc:
    name: tsc
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: install Current node version
        uses: actions/setup-node@v4
        with:
          node-version: 'current'
      - name: npm install
        run: npm ci
      - name: Build Typescript
        run: npm run build
      - name: Run Unit tests
        run: npm run test
      - name: buildkite/plugin-linter
        run: make linter
      - name: buildkite/plugin-tester
        run: make tester
